/* FOOOTER */

.site-footer {
  background-color: #ffffff;
  padding: 20px 0;
}

.site-footer p {
  margin: 0;
}

.site-footer a {
  color: #333;
  text-decoration: none;
  font-weight: 400;
}

/* HEADER */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.logo {
  flex-basis: 12%;
  margin-left: 2rem;
}

nav {
  flex-basis: 70%;
  text-align: right;
  margin-left: auto;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 20px;
}

nav li:first-child {
  margin-left: 0;
}

li#menu-item-582 {
  background-color: #DC9F96;
  padding: 1em 2em 1em 2em;
}

li#menu-item-582:hover {
  background-color: #C02E44;
}


li#menu-item-582 a.menu-link {
  color: white;
}

nav a {
  color: #000;
  text-decoration: none;
  font-weight: normal;
  padding: 10px;
  font-size: medium;
  transition: transform 0.2s ease-in-out;
}

nav a:hover {
  font-weight: bold;
  transform: scale(1.1);
  color: #000;
}

.command-red a {
  color: white;
} 


/* FORM COMMAND */

.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.quantity span {
  background-color: white;
  border-radius: 7px 0 0 7px;
  padding: 0.9em 0.8em 1em 1em;
}

.button-image-command button {
  border-radius: 0;
  padding: 0.6em 0.7em 0.32em 0.7em;
}

button.command-more {
  border-radius: 0 7px 0 0;
  border-bottom: solid 2px white;
}


button.command-less {
  border-radius: 0 0 7px 0;
  border-top: solid 2px white;
}

.button-image-command p {
  margin-left: -0.3em;
}

.ok-command button {
  height: 4.3em;
  width: 6.9em;
  border-radius: 7px;
}

/* SECOND PARTY FORM COMMAND */

.total-form-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} 

.all-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 3em;
  border-top: solid 1px white;
}

h3.title-form {
  color: white;
  padding-bottom: 1em;
}

.form-left {
  border-right: solid 1px white;
  padding-right: 2.5em;
}

.form-left p {
  color: white;
}

.form-right {
  padding-left: 2.5em;
}

.form-right p {
  color: white;
}

input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required {
  border-radius: 7px;
}

input.wpcf7-form-control.has-spinner.wpcf7-submit {
  margin-left: 4em;
}

/* RESPONSIVE FORM */ 
@media (max-width:768px) {
  .all-form {
      flex-wrap: wrap;
  }

  .form-left {
    border-right: none;
    padding-right: 0;
    padding-bottom: 2rem;
  }

  .form-right {
    padding-left: 0;
   
  }
}







