/* FOOOTER */

.my-custom-footer {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important; 
    height: 80px; /* hauteur de la zone du footer */
  }
  
  .legal-link {
    font-size: 14px;
    color: #555;
    text-decoration: underline;
  }

/* HEADER */

.menu-item-440 a {
    background-color: #DC9F96!important;
    padding: 5px;
     
}

.main-header-menu > .menu-item-440> .menu-link {
  color: white;
}

.main-header-menu > .menu-item-440> .menu-link:hover {
  color: black;
   
}




